*{
    --primary-color: #d67818;
    --secondary-color: #44c4a1;
    --text-color: #111111;
    --grey-1: #e0e5eb;
    --grey-2: #f2f2f2;
    --grey-3:#333333;
    --border-color: #c0c0c0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
}


/*--------------------------------------TopBar--------------------------------------*/
header{
    display: flex;
    flex-direction: column;
}
.TopBar{
    background-color: #fff;
    height: 75px;
    line-height: 75px;
    border: solid 1px var(--border-color);
    border-bottom: solid 1px var(--border-color);
}

.Container{
    max-width: 1140px;
    margin: 0px auto;
}

.isFloatLeft{
    float: left;
}

.isFloatRight{
    float: right;
}

.TopBar-burger{
    margin-right: 10px;
}

.TopBar-logo img{
    vertical-align: middle;
}

.TopBar-form input{
    height: 37px;
    border: 1px solid #ccc;
    padding: 0 10px;
    font-size: 16px;
}
/*--------------------------------------Footer--------------------------------------*/
.MainFooter{
    background-color: var(--grey-3);
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

.MainFooter p{
    max-width: 417px;
    margin: 0 auto;
}

.MainFooter p:last-child{
    margin-top: 70px;
}

/*--------------------------------------Main--------------------------------------*/
main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*--------------------------------------Section-1--------------------------------------*/

.section-1{
    height: 100vh;
    display: flex;
    flex: 1;
}
/*--------------------------------------Aside Hero--------------------------------------*/
.HeroAside{
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.ImgSVG {
    background-color: var(--text-color);
    color: var(--grey-2);
    height: 50px;
}
.TitrePrincipal{
    font-size: 3rem;
    font-weight: 700;
    color: var(--secondary-color);
    margin: 0;
}

.SousTitrePrincipal{
    font-weight: 600;
    color: var(--primary-color);
    margin: 7px 0 0;
    line-height: 1.2;
    font-size: 1.875rem;
}
.SocialMedias{
    display: flex;
    align-items: flex-end;
    margin-top: 60vh;
}

/*--------------------------------------Main Hero--------------------------------------*/
.HeroMain{
    background-image: url(/img/montageBackground.jpg);
    background-size: cover;
    display: flex;
    flex: 5;
}
.TextFrame{
    background-color: var(--primary-color);
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.TextFrame p{
    text-align: justify;
    display: flex;
    color: var(--grey-2);
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

/*--------------------------------------Section-2--------------------------------------*/

.section-2{
    height: 100vh;
}
